target/classes/RegisterEmployee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
   
	<flow name="post:/register-employee:employee-config">
        <logger message="Started the fetch employee flow. The following payload is recieved. #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="919dc084-c38f-4162-bd95-0fb355ba6beb">
            <dw:set-payload resource="classpath:registertransformation.dwl"/>

        </dw:transform-message>
        <validation:all doc:name="Validation">
            <validation:validations>
                <validation:is-not-null value="#[payload.Empid]" message="Employee id should not be null"/>
            </validation:validations>
        </validation:all>
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into emp(empid,name,location) values(#[payload.Empid],#[payload.Name],#[payload.Location])]]></db:parameterized-query>

        </db:delete>
        <logger message="The write is successful." level="INFO" doc:name="Logger"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(org.mule.extension.validation.api.MultipleValidationException)]" doc:name="Catch Exception Strategy">
                <logger message="The required validations have not been fulfilled." level="INFO" doc:name="Logger"/>
            </catch-exception-strategy>
        </choice-exception-strategy>

	</flow>
</mule>
